# Configuration file

##########################################################################################################
# custom item drops
#--------------------------------------------------------------------------------------------------------#
# Allows for custom items drops per mob. Format is: mod:item,metadata,chance,min,max Multiple drops should be semicolon separated and chances are in decimal format. minecraft:wool;2;0.25;0;3 is Green Wool with a 25% drop rate and will drop 0 to 3 blocks. Be sure to use a colon for mod:item and semicolons for everything else.
##########################################################################################################

"custom item drops" {
    S:"Conba Custom Drops"=
    S:"Concapede Custom Drops"=
    S:"Concapede Segment Custom Drops"=
    S:"Geken Custom Drops"=
    S:"Tarantula Custom Drops"=
    S:"Uvaraptor Custom Drops"=
    S:"Vespid Custom Drops"=
    S:"Vespid Queen Custom Drops"=
    S:"entity.junglemobs.conba.name Custom Drops"=
    S:"entity.junglemobs.concapede.name Custom Drops"=
    S:"entity.junglemobs.concapedesegment.name Custom Drops"=
    S:"entity.junglemobs.geken.name Custom Drops"=
    S:"entity.junglemobs.tarantula.name Custom Drops"=
    S:"entity.junglemobs.uvaraptor.name Custom Drops"=
    S:"entity.junglemobs.vespid.name Custom Drops"=
    S:"entity.junglemobs.vespidqueen.name Custom Drops"=
}


##########################################################################################################
# default item drops
#--------------------------------------------------------------------------------------------------------#
# If false, only custom item drops are dropped.
##########################################################################################################

"default item drops" {
    B:"Conba Default Drops"=true
    B:"Concapede Default Drops"=true
    B:"Concapede Segment Default Drops"=true
    B:"Geken Default Drops"=true
    B:"Tarantula Default Drops"=true
    B:"Uvaraptor Default Drops"=true
    B:"Vespid Default Drops"=true
    B:"Vespid Queen Default Drops"=true
    B:"entity.junglemobs.conba.name Default Drops"=true
    B:"entity.junglemobs.concapede.name Default Drops"=true
    B:"entity.junglemobs.concapedesegment.name Default Drops"=true
    B:"entity.junglemobs.geken.name Default Drops"=true
    B:"entity.junglemobs.tarantula.name Default Drops"=true
    B:"entity.junglemobs.uvaraptor.name Default Drops"=true
    B:"entity.junglemobs.vespid.name Default Drops"=true
    B:"entity.junglemobs.vespidqueen.name Default Drops"=true
}


"dungeon level" {
    I:"Conba Dungeon Level"=0
    I:"Concapede Dungeon Level"=2
    I:"Concapede Segment Dungeon Level"=-1
    I:"Geken Dungeon Level"=0
    I:"Tarantula Dungeon Level"=2
    I:"Uvaraptor Dungeon Level"=1
    I:"Vespid Dungeon Level"=2
    I:"Vespid Queen Dungeon Level"=3
    I:"entity.junglemobs.conba.name Dungeon Level"=0
    I:"entity.junglemobs.concapede.name Dungeon Level"=2
    I:"entity.junglemobs.concapedesegment.name Dungeon Level"=-1
    I:"entity.junglemobs.geken.name Dungeon Level"=0
    I:"entity.junglemobs.tarantula.name Dungeon Level"=2
    I:"entity.junglemobs.uvaraptor.name Dungeon Level"=1
    I:"entity.junglemobs.vespid.name Dungeon Level"=2
    I:"entity.junglemobs.vespidqueen.name Dungeon Level"=3
}


##########################################################################################################
# dungeon levels
#--------------------------------------------------------------------------------------------------------#
# The dungeon level of this mob, used by Doomlike Dungeons. -1 = Not for Dungeons, 0 = Common, 1 = Tough, 2 = Brute, 3 = Elite
##########################################################################################################

"dungeon levels" {
}


##########################################################################################################
# dungeon themes
#--------------------------------------------------------------------------------------------------------#
# Here you can set the Dungeon Theme of each mob. These are used by Doomlike Dungeons and might be used by other things later.
##########################################################################################################

"dungeon themes" {
    S:"Conba Themes"=GROUP
    S:"Concapede Segment Themes"=GROUP
    S:"Concapede Themes"=GROUP
    S:"Geken Themes"=GROUP
    S:"Tarantula Themes"=GROUP
    S:"Uvaraptor Themes"=GROUP
    S:"Vespid Queen Themes"=GROUP
    S:"Vespid Themes"=GROUP
    S:"entity.junglemobs.conba.name Themes"=GROUP
    S:"entity.junglemobs.concapede.name Themes"=GROUP
    S:"entity.junglemobs.concapedesegment.name Themes"=GROUP
    S:"entity.junglemobs.geken.name Themes"=GROUP
    S:"entity.junglemobs.tarantula.name Themes"=GROUP
    S:"entity.junglemobs.uvaraptor.name Themes"=GROUP
    S:"entity.junglemobs.vespid.name Themes"=GROUP
    S:"entity.junglemobs.vespidqueen.name Themes"=GROUP
}


##########################################################################################################
# enabled mobs
#--------------------------------------------------------------------------------------------------------#
# Here you can completely disable any mob.
##########################################################################################################

"enabled mobs" {
    B:"Conba Enabled"=true
    B:"Concapede Enabled"=true
    B:"Concapede Segment Enabled"=true
    B:"Geken Enabled"=true
    B:"Tarantula Enabled"=true
    B:"Uvaraptor Enabled"=true
    B:"Vespid Enabled"=true
    B:"Vespid Queen Enabled"=true
    B:"entity.junglemobs.conba.name Enabled"=true
    B:"entity.junglemobs.concapede.name Enabled"=true
    B:"entity.junglemobs.concapedesegment.name Enabled"=true
    B:"entity.junglemobs.geken.name Enabled"=true
    B:"entity.junglemobs.tarantula.name Enabled"=true
    B:"entity.junglemobs.uvaraptor.name Enabled"=true
    B:"entity.junglemobs.vespid.name Enabled"=true
    B:"entity.junglemobs.vespidqueen.name Enabled"=true
}


features {
    I:"Concapede Size Limit"=10
    B:"Enable Poop Clouds"=true
    B:"Enable Quickweb"=true
    B:"Vespid Hive Building"=true
    I:"Vespid Queen Swarm Limit"=10
}


"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Jungle Mobs Themes"=JUNGLE, DUNGEON
}


##########################################################################################################
# peaceful mob
#--------------------------------------------------------------------------------------------------------#
# Here you may control whether or not each mob is allowed in Peaceful Difficulty.
##########################################################################################################

"peaceful mob" {
}


"peaceful mobs" {
    B:"Conba On Peaceful"=false
    B:"Concapede On Peaceful"=true
    B:"Concapede Segment On Peaceful"=true
    B:"Geken On Peaceful"=false
    B:"Tarantula On Peaceful"=false
    B:"Uvaraptor On Peaceful"=false
    B:"Vespid On Peaceful"=false
    B:"Vespid Queen On Peaceful"=false
    B:"entity.junglemobs.conba.name On Peaceful"=false
    B:"entity.junglemobs.concapede.name On Peaceful"=true
    B:"entity.junglemobs.concapedesegment.name On Peaceful"=true
    B:"entity.junglemobs.geken.name On Peaceful"=false
    B:"entity.junglemobs.tarantula.name On Peaceful"=false
    B:"entity.junglemobs.uvaraptor.name On Peaceful"=false
    B:"entity.junglemobs.vespid.name On Peaceful"=false
    B:"entity.junglemobs.vespidqueen.name On Peaceful"=false
}


##########################################################################################################
# summoning costs
#--------------------------------------------------------------------------------------------------------#
# How much summoning focus each mob costs. This includes mobs that can't be summoned by the summoning staff as there might be other methods of summoning them in the future.
##########################################################################################################

"summoning costs" {
    I:"Conba Summoning Cost"=2
    I:"Concapede Segment Summoning Cost"=1
    I:"Concapede Summoning Cost"=2
    I:"Geken Summoning Cost"=2
    I:"Tarantula Summoning Cost"=2
    I:"Uvaraptor Summoning Cost"=4
    I:"Vespid Queen Summoning Cost"=2
    I:"Vespid Summoning Cost"=2
    I:"entity.junglemobs.conba.name Summoning Cost"=2
    I:"entity.junglemobs.concapede.name Summoning Cost"=2
    I:"entity.junglemobs.concapedesegment.name Summoning Cost"=1
    I:"entity.junglemobs.geken.name Summoning Cost"=2
    I:"entity.junglemobs.tarantula.name Summoning Cost"=2
    I:"entity.junglemobs.uvaraptor.name Summoning Cost"=4
    I:"entity.junglemobs.vespid.name Summoning Cost"=2
    I:"entity.junglemobs.vespidqueen.name Summoning Cost"=2
}


##########################################################################################################
# vanilla spawning
#--------------------------------------------------------------------------------------------------------#
# Here you may control settings that affect vanilla Minecraft.
##########################################################################################################

"vanilla spawning" {
    # If true, some vanilla spawns in this group's biomes will be removed, note that vanilla mobs should still be easy to find, only they will be more biome specific.
    B:"Edit Vanilla Spawning"=true
}


