# Configuration file

~CONFIG_VERSION: 0.1.0

world-1603699914 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1674553215 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=probe
    B:overlayEnabled=true
}


world-1717572816 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-2060703100 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=cold re
    B:overlayEnabled=true
}


world-646511253 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=magnet
    B:overlayEnabled=true
}


world-66649794 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@vamp

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-873659248 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@techre
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=drag
    B:overlayEnabled=true
}


world1042391177 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1231439323 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world166224284 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=endst
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@poss
    B:overlayEnabled=true
}


world1855637920 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@elemen
    B:overlayEnabled=true
}


world603638888 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world711658231 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


