# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        112
        3
        0
        1
        115
        0
        0
        0
        60
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        53
        120
        -38
        99
        98
        -110
        -52
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        -52
        75
        45
        -55
        72
        45
        -118
        79
        42
        -54
        76
        -50
        -74
        103
        16
        64
        -106
        74
        -52
        44
        -78
        103
        104
        96
        108
        96
        -30
        -1
        48
        -78
        33
        0
        -3
        -126
        -113
        -1
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        112
        3
        0
        1
        115
        0
        0
        0
        60
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        53
        120
        -38
        99
        98
        -110
        -52
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        -52
        75
        45
        -55
        72
        45
        -118
        79
        42
        -54
        76
        -50
        -74
        103
        16
        64
        -106
        74
        -52
        44
        -78
        103
        72
        56
        -64
        -60
        -1
        103
        20
        82
        2
        1
        -60
        -90
        -73
        126
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


