# Configuration file

applecore {
    I:"Growth rate percent for crops (requires AppleCore)"=10
}


drops {
    I:"1 chance in X per tick that a chicken drops a feather, 0 disables"=3000
    I:"Average number of minutes between chickens dropping feathers"=30
    I:"Percentage of leaf blocks that drop sticks"=50
}


explosives {
    D:"Creeper upward modifier, increase to have creeper explosions explode more upwards"=1.5
    I:"Explosion level above which blocks atomize, and below which they drop"=5
    I:"Explosion level above which blocks drop, and below which they fracture (if fracturing on- if off nothing happens below)"=1
    B:"Explosions fracture stone"=true
    B:"Override explosions with custom explosions"=false
}


"finite torches" {
    I:"0 = disable finite torches, 1 = Relight torches with a right click, 2= relight torches with a flint and steel only"=0
    I:"Average Torch lifespan"=5
    I:"Chance in 100 per block tick (avg every 45 seconds) that an unattended torch will go out, 0 disables torches going out, -1 prevents torch replacement entirely"=20
    I:"Number of blocks a player must be within to prevent a torch from going out"=20
    B:"Torches can be relit by hand (true), or require flint and steel (false)"=true
}


gravity {
    S:"Block name and number of identical blocks above requried to prevent falling if disturbed by player"=minecraft:dirt@2,minecraft:cobblestone@1,minecraft:mossy_cobble@1,
    B:"Enable damage from blocks"=true
    B:"Enable damage from falling cobblestone and dirt"=true
    B:"NerdPole Prevention: Prevent indefinite stacking of non-stable blocks (causes them to slide off)"=false
}


items {
    B:"Enable home scrolls"=false
}


"loot and crafting" {
    B:"Enable Crafting Recipe Table"=true
    B:"Enable home scrolls"=false
    B:"Remove recipes for vanilla tools (Requires Tinkers Construct to be installed)"=false
}


mining {
    S:"Mining speed modifiers"=minecraft:stone@1,minecraft:sandstone@1
    B:"Modify hammer behaviour"=true
    B:"Ores fracture adjacent blocks when mined"=true
    S:"Ores to add for fracturing- modname:blockname"=minecraft:emerald_ore
    B:"Stone fractures before breaking"=false
    I:"TCon Hammer break speed % modifier on non-stone blocks"=10
}


